
/* log is the id on the build log divisions */
#log .name, #log .status {
        display: inline;
	font-weight: bold;
	font-family: sans-serif;
}
#log .status.failed {
	color: rgb(153, 0, 0);;
}
#log .status.passed {
	color: rgb(0, 153, 0);
}
#log .status.skipped {
	color: rgb(0, 0, 153);
}
#log .output {
	color: rgb(0, 0, 0);
	font-family: monospace;
}
#log div.unit {
	margin: 5px;
	padding: 10px;
	border: 2px solid black;
}
#log div.unit.passed {
	background-color: rgb(180, 255, 180);
}
#log div.unit.failed {
	background-color: rgb(255, 180, 180);
}
#log div.unit.skipped {
	background-color: rgb(180, 180, 255);
}
#log .unit.failed .output {
	display: block;
}
#log .unit.skipped .output {
	display: block;
}
#log .unit.passed .output {
	display: none;
}
#log div.output-stderr-0 {
	display: none;
}
#log img {
	border: none;
}
#log a {
	text-decoration: none;
}
#log a:hover, #log a:active {
	text-decoration: underline;
}

/* generically, status correspond to the ok/ok/ok/ok strings */
.status.passed { 
        color: rgb(0, 128, 0);
}

.status.failed { 
        color: rgb(255, 0, 0);
}

.panic { 
        color: rgb(255, 0, 0);
        font-weight: bold;
}
.status.unknown { 
        color: rgb(0, 0, 255);
}

.summary td.status { 
        text-align: center;
}

.summary .tree { 
        font-weight: bold;
}

.summary .age { 
        text-align: right;
}
.age .old { 
        color: rgb(210, 0, 0);
}

div.host.summary {
        float: left;
}
div.host.summary h3 { 
        margin-bottom: 2px;
}
div.summary { 
        margin: 4px;
}
div.build-section { 
        clear: both;
        width: 100%;
}
#logo>.build_logo { 
        background-image:url(build_logo.png);
        background-position:center;
        background-repeat:no-repeat;
}
.build_logo {
        position:absolute;
        width:399px;
        height:208px;
        margin-top:-42px;
        margin-left:1px;
        z-index:1;      
}

#banner {
	position:absolute;
	top:0;
	left:0;
        text-align: center;
	height:90px;
	width:100%;
	padding-top:4px;
	background-color:#FFFF64;
}
.stripe {
	position:absolute;
	top:40px;
	left:0;
        text-align: center;
        height:55px;
	width:100%;
	background-color:#3878CD;
	border-top:2px solid #575756;
	border-bottom:2px solid #575756;
}

#build-menu { 
        position: absolute;
        top: 0;
        left: 250px;
        margin-top: 5px;
        z-index: 10;
}
#build-menu input { 
        margin: 20px 10px 0px 0px;
}

/* Styles for main content (center column) */
#content>.center {
	position:absolute;
	top:100px;
	left:175px;
	margin:0;
}
.center { 
        margin:100px 10px 0 175px;
	padding-top:30px;
	padding-left:35px;
	padding-bottom:50px;
	padding-right:15px;
	background-color:#FFF;
	border-left:1px solid #FFFF64;
	border-right:1px solid #FFFF64;
}

#logo>.build_logo {
	background-image:url(build_logo.png);
	background-position:center;
	background-repeat:no-repeat;
}
#logo img {
	border:0;
}
#logo a:hover {
	background:transparent;
}

.diff_index {
        color: blue;
}
.diff_removed {
        color: #a00000;
}
.diff_added {
        color: #0a0;
}
.diff_fragment_header {
        color: purple;
}
.diff_separator {
        color: green;
}
.diff_diff {
        color: red;
}

.history_row { 
        background-color: #E5E9F5;
        margin-bottom: 10px;
        padding: 2px;
}

.history_row .label {
        font-style: italic;
}

.history_row .date,
.history_row .diff .html {
        font-weight: bold;
}
