
/* log is the id on the build log divisions */
#log .title, #log .status {
        display: inline;
	font-weight: bold;
	font-family: sans-serif;
}
#log .status { margin-left: 0.5ex; }
#log .status.failed {	color: rgb(153, 0,   0);   }
#log .status.passed {	color: rgb(0,   153, 0);   }
#log .status.skipped {	color: rgb(0,   0,   153); }
#log .status.error {	color: rgb(153, 0,   0);   }
#log .status.warning {	color: rgb(153, 75,  0);   }
#log .status.xfailed {	color: rgb(153, 75,  0);   }
#log .status.uxpassed {	color: rgb(153, 0,   0);   }
#log .status.mistake {	color: rgb(0,   0,   153); }
#log .output {
	color: rgb(0, 0, 0);
	font-family: monospace;
}
#log div.unit {
	/* We have already a margin that is implied by the \n in the HTML
	 * no need to remargin
	 * margin: 5px;*/
	padding: 10px;
	border: 1px solid black;
}
/*
#log div.unit.passed {	background-color: rgb(180, 255, 180); }
#log div.unit.failed {	background-color: rgb(255, 180, 180); }
#log div.unit.skipped {	background-color: rgb(180, 180, 255); }
#log div.unit.warning {	background-color: rgb(255, 180, 125); }
#log div.unit.xfailed {	background-color: rgb(255, 180, 125); }
#log div.unit.uxpassed {	background-color: rgb(255, 180, 180); }
#log div.unit.error {	background-color: rgb(255, 180, 180); }
#log div.unit.mistake {	background-color: rgb(180, 180, 255); }
#log div.unit.pretest.ok {	background-color: rgb(180, 255, 180); }
*/
#log .unit.failed  .output {	display: none;}
#log .unit.skipped .output {	display: none;}
#log .unit.skipped .output {	display: none;}
#log .unit.passed  .output {	display: none;}
#log .unit.error   .output {	display: none;}
#log .unit.mistake .output {	display: none;}
#log .unit.warning .output {	display: none;}
#log .unit.xfailed .output {	display: none;}
#log .unit.uxpassed .output {	display: none;}
#log .unit.errorlog .output {	display: none;}
#log .unit.pretest  .output {	display: none;}
#log div.status.errorlog {	display: none;}
img + div.testlinks.title,
img + div.cc_checker.title,
img + div.pretest.title,
img + div.test.title,
img + div.action.title {
	margin-left: 0.5em;
}
a + div.testlinks.status,
a + div.cc_checker.status,
a + div.pretest.status,
a + div.test.status,
a + div.action.status {
	margin-left: 0.5em;
}


#log div.output-stderr-0 {
	display: none;
}
#log img {
	border: none;
}
#log a {
	text-decoration: none;
}
#log a:hover, #log a:active {
	text-decoration: underline;
}

/* generically, status correspond to the ok/ok/ok/ok strings */
.status.passed {
        color: rgb(0, 128, 0);
}

.status.failed {
        color: rgb(255, 0, 0);
}

.status.panic {
        color: rgb(255, 0, 0);
        font-weight: bold;
}
.status.checker {
        color: rgb(255, 127, 0);
}
.status.unknown {
        color: rgb(0, 0, 255);
}

.summary td.status {
        text-align: center;
}

.summary .tree {
        font-weight: bold;
}

.summary .age {
        text-align: right;
}
.age .old {
        color: rgb(210, 0, 0);
}
.preformated {
	white-space: pre;
	font-family: monospace;
}

div.host.summary {
        float: left;
}
div.host.summary h3 {
        margin-bottom: 2px;
}
div.summary {
        margin: 4px;
}
div.build-section {
        clear: both;
        width: 100%;
}
#logo>.build_logo {
        background-image:url(build_logo.png);
        background-position:center;
        background-repeat:no-repeat;
}
.build_logo {
        position:absolute;
        width:399px;
        height:208px;
        margin-top:-42px;
        margin-left:1px;
        z-index:1;
}

#banner {
	position:absolute;
	top:0;
	left:0;
        text-align: center;
	height:90px;
	width:100%;
	padding-top:4px;
	background-color:#FFFF64;
}
.stripe {
	position:absolute;
	top:40px;
	left:0;
        text-align: center;
        height:55px;
	width:100%;
	background-color:#3878CD;
	border-top:2px solid #575756;
	border-bottom:2px solid #575756;
}

#build-menu {
        position: absolute;
        top: 0;
        left: 250px;
        margin-top: 5px;
        z-index: 10;
}
#build-menu input {
        margin: 20px 10px 0px 0px;
}

/* Styles for main content (center column) */
#content>.center {
	position:absolute;
	top:100px;
	left:175px;
	margin:0;
}
.center {
        margin:100px 10px 0 175px;
	padding-top:30px;
	padding-left:35px;
	padding-bottom:50px;
	padding-right:15px;
	background-color:#FFF;
	border-left:1px solid #FFFF64;
	border-right:1px solid #FFFF64;
}

#logo>.build_logo {
	background-image:url(build_logo.png);
	background-position:center;
	background-repeat:no-repeat;
}
#logo img {
	border:0;
}
#logo a:hover {
	background:transparent;
}

.gh {
        color: blue;
}
.gd {
        color: #a00000;
}
.gi {
        color: #0a0;
}
.gh {
        color: purple;
}
.gu {
        color: green;
}

.history_row {
        margin-bottom: 30px;
        padding: 2px;
        line-height: 160%;
}

.history_row .label {
        font-weight: bold;
	color: #c90000;
}

.history_row .date{
	color: #c90000;
}

.history_row .date,
.history_row .diff .html {
        font-weight: bold;
}
.reason {
	font-weight: bold;
}



/*css for new samba look*/
table.newtable{
	margin-left: auto;
	margin-right: auto;
}

table.newtable,
table.newtable th,
table.newtable td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        vertical-align: center;
}

table.newtable th{
        color: #c90000;
        font-weight: bold;
}

table.buildtable{
	margin-left: auto;
	margin-right: auto;
}

table.buildtable td{
        border: 0px;
        padding: 10px;
        text-align: left;
        vertical-align: center;
}

/*center box includes sitemap*/
.newcontent{
    position: absolute;
    top: 166px;
    left: 166px;
    right: 266px;
    float: left;
    text-align: justify;
}

.newcontent pre{
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 15px;
    font-weight: normal;
    font-family:"Times New Roman", Times, serif;
    line-height: 22px;
}

pre::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

pre::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

pre::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

/*sitemap*/
#bd #newsitemap {
	float: left;
	width: 100%;
	margin: 21px 0 25px;
}

/*removes width applicable for entire page*/
#page,
#newpagestart {
	background-image: url(https://www.samba.org/samba/style/2010/grey/bg.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
}


#newpagestart h1 {
	color: #c90000;
	font-size: 46px;
	font-weight: normal;
	font-family: Georgia, serif;
	line-height: 58px;
	margin: 0;
	padding: 0;
}

#newpagestart h2 {
	color: #c90000;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 16px;
}


#newpagestart h3 {
	color: #c90000;
	font-size: 24px;
	font-weight: normal;
	line-height: 28px;
	margin: 0;
}

/*new banner*/
#hd #newbannerstart {
	background-image: url("https://www.samba.org/samba/style/2010/grey/bgHeader.png");
	background-size: 100% 139px;
	background-position: 0px 0px;
	float: right;
	height: 139px;
	width: 100%;
	background-repeat: no-repeat;
}

/*form*/
#newbuildmenu{
	position: absolute;
        left: 15px;
        top: 590px;
	z-index: 10;
        font-size: 13px;
        line-height: 70%;
}

#newbuildmenu select{
	width: 110px;

	margin: 0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	background: #d9d9d9;
	color:#333333;
	border:none;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

.newform button,
.newform input,
#newbuildmenu input{
	border: 1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 0px 2px 0px 2px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
	background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
	background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
	background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
	background-image: -o-linear-gradient(top, #f62b2b, #d20202);
	background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}

.newform button:hover,
.newform input:hover,
#newbuildmenu input:hover{
	border: 1px solid #b30808;
	background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
	background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
	background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);      
}

.relatedLeft{
	position: absolute;
	top: 540px;
	left: 2px;
	width: 140px;
	background-image: url("https://www.samba.org/samba/style/2010/grey/bgBoxSpecial.gif");
        background-size: 140px auto;
}

.relatedLeftContent h4{
	color: #c90000;
	font-size: 18px;
	font-weight: normal;
	font-family: Georgia, serif;
	line-height: 20px;
        position: relative;
        left: 30px;
        top: 20px;
        margin: 0 0 16px;
}

.relatedLeftBottom{
	position: absolute;
	width: 140px;
	height: 16px;
        background-image: url("https://www.samba.org/samba/style/2010/grey/bgBoxSpecialBottom.gif");
        background-size: 140px 16px;
}
